In [1]:
#pip install cbsodata
import cbsodata
import pandas as pd

In [2]:
>>> tables = cbsodata.get_table_list()
>>> print(tables[0])
{'Catalog': 'CBS',
 'ColumnCount': 18,
 'DefaultPresentation': '_la=nl&_si=&_gu=&_ed=LandVanUiteindelijkeZeggenschapUCI&_td=Perioden&graphType=line',
 'DefaultSelection': "$filter=((LandVanUiteindelijkeZeggenschapUCI eq '11111') or (LandVanUiteindelijkeZeggenschapUCI eq '22222')) and (Bedrijfsgrootte eq '10000') and (substringof('JJ',Perioden))&$select=LandVanUiteindelijkeZeggenschapUCI, Bedrijfsgrootte, Perioden, FiscaalJaarloonPerBaan_15",
 'ExplanatoryText': '',
 'Frequency': 'Perjaar',
 'GraphTypes': 'Table,Bar,Line',
 'ID': 0,
 'Identifier': '82010NED',
 'Language': 'nl',
 'MetaDataModified': '2014-02-04T02:00:00',
 'Modified': '2014-02-04T02:00:00',
 'OutputStatus': 'Regulier',
 'Period': '2008 t/m 2011',
 'ReasonDelivery': 'Actualisering',
 'RecordCount': 32,
 'SearchPriority': '2',
 'ShortDescription': '\nDeze tabel bevat informatie over banen en lonen bij bedrijven in Nederland, uitgesplitst naar het land van uiteindelijke zeggenschap van die bedrijven. Hierbij wordt onderscheid gemaakt tussen bedrijven onder Nederlandse zeggenschap en bedrijven onder buitenlandse zeggenschap. In de tabel zijn alleen de bedrijven met werknemers in loondienst meegenomen. De cijfers hebben betrekking op het totale aantal banen bij deze bedrijven en de samenstelling van die banen naar kenmerken van de werknemers (baanstatus, geslacht, leeftijd, herkomst en hoogte van het loon). Ook het gemiddelde fiscale jaarloon per baan is in de tabel te vinden. \n\nGegevens beschikbaar vanaf: 2008 \n\nStatus van de cijfers: \nDe cijfers in deze tabel zijn definitief.\n\nWijzigingen per 4 februari 2014\nDe cijfers van 2011 zijn toegevoegd.\n\nWanneer komen er nieuwe cijfers?\nDe cijfers over 2012 verschijnen in de eerste helft van 2015.\n',
 'ShortTitle': 'Zeggenschap bedrijven; banen, grootte',
 'Source': 'CBS.',
 'Summary': 'Banen en lonen van werknemers bij bedrijven in Nederland\nnaar land van uiteindelijke zeggenschap en bedrijfsgrootte',
 'SummaryAndLinks': 'Banen en lonen van werknemers bij bedrijven in Nederland<br />naar land van uiteindelijke zeggenschap en bedrijfsgrootte<br /><a href="http://opendata.cbs.nl/ODataApi/OData/82010NED">http://opendata.cbs.nl/ODataApi/OData/82010NED</a><br /><a href="http://opendata.cbs.nl/ODataFeed/OData/82010NED">http://opendata.cbs.nl/ODataFeed/OData/82010NED</a>',
 'Title': 'Zeggenschap bedrijven in Nederland; banen en lonen, bedrijfsgrootte',
 'Updated': '2014-02-04T02:00:00'}

{'Updated': '2021-11-01T02:00:00', 'ID': 0, 'Identifier': '84669NED', 'Title': "Banen van werknemers; internationaliseringskenmerken van bedrijven, '10-'18", 'ShortTitle': 'Banen; internationalisering bedrijven', 'ShortDescription': '\nDeze tabel bevat informatie over werknemersbanen in Nederland. Het aantal banen wordt uitgesplitst naar diverse achtergrondkenmerken van de werknemers en de bedrijven waarvoor zij in dienst zijn. Bij de bedrijven wordt met name onderscheid gemaakt tussen bedrijven onder Nederlandse zeggenschap en bedrijven onder buitenlandse zeggenschap, en de internationale handel van het bedrijf. Werknemerskenmerken zijn onder meer opleidingsniveau en nationaliteit. Daarbij wordt de top vijf van meest voorkomende nationaliteiten bij bedrijven onder buitenlandse zeggenschap gerapporteerd. Het opleidingsniveau wordt gegeven bij alle selecties (uitgezonderd buitenlandse nationaliteiten) met tenminste duizend directe observaties.\n\nGegevens beschikbaar van 2010 tot en met 2018.\n\nStatus van de cijfers:\nDe cijfers in deze tabel zijn voorlopig.\n\nWijzigingen per 1 november 2021:\nGeen, deze tabel is stopgezet.\n\nWanneer komen er nieuwe cijfers?\nNiet meer van toepassing.\n', 'Summary': 'werknemersbanen, voltijdequivalenten, arbeidsvolume, loon\nInternationale handel in goederen & diensten, multinationals, zeggenschap', 'Modified': '2020-12-14T02:00:00', 'MetaDataModified': '2021-11-01T02:00:00', 'ReasonDelivery': 'Stopgezet', 'ExplanatoryText': '', 'OutputStatus': 'Gediscontinueerd', 'Source': 'CBS.', 'Language': 'nl', 'Catalog': 'CBS', 'Frequency': 'Stopgezet', 'Period': '2010 t/m 2018', 'SummaryAndLinks': 'werknemersbanen, voltijdequivalenten, arbeidsvolume, loon<br />Internationale handel in goederen & diensten, multinationals, zeggenschap<br /><a href="http://opendata.cbs.nl/ODataApi/OData/84669NED">http://opendata.cbs.nl/ODataApi/OData/84669NED</a><br /><a href="http://opendata.cbs.nl/ODataFeed/OData/84669NED">http://opendata.cbs.nl/ODataFeed/OData/84669NED</a>', 'ApiUrl': 'https://opendata.cbs.nl/ODataApi/OData/84669NED', 'FeedUrl': 'https://opendata.cbs.nl/ODataFeed/OData/84669NED', 'DefaultPresentation': 'ts=1606984891185&graphtype=Table&r=InternationaliseringskenmerkenBedrijf&k=Topics&t=BedrijfstakkenBranchesSBI2008,Bedrijfsgrootte,KenmerkenBaanEnWerknemer,Perioden', 'DefaultSelection': "$filter=((BedrijfstakkenBranchesSBI2008 eq 'T001081')) and ((Bedrijfsgrootte eq 'T001098')) and ((KenmerkenBaanEnWerknemer eq 'T001025')) and ((Perioden eq '2018JJ00'))&$select=BedrijfstakkenBranchesSBI2008, Bedrijfsgrootte, InternationaliseringskenmerkenBedrijf, KenmerkenBaanEnWerknemer, Perioden, Banen_1, Arbeidsvolume_2, Uurloon_3, PerBaanPerWeekExclusiefOverwerk_5", 'GraphTypes': 'Table,Bar,Line', 'RecordCount': 304128, 'ColumnCount': 10, 'SearchPriority': '1'}

{'Catalog': 'CBS',
 'ColumnCount': 18,
 'DefaultPresentation': '_la=nl&_si=&_gu=&_ed=LandVanUiteindelijkeZeggenschapUCI&_td=Perioden&graphType=line',
 'DefaultSelection': "$filter=((LandVanUiteindelijkeZeggenschapUCI eq '11111') or (LandVanUiteindelijkeZeggenschapUCI eq '22222')) and (Bedrijfsgrootte eq '10000') and (substringof('JJ',Perioden))&$select=LandVanUiteindelijkeZeggenschapUCI, Bedrijfsgrootte, Perioden, FiscaalJaarloonPerBaan_15",
 'ExplanatoryText': '',
 'Frequency': 'Perjaar',
 'GraphTypes': 'Table,Bar,Line',
 'ID': 0,
 'Identifier': '82010NED',
 'Language': 'nl',
 'MetaDataModified': '2014-02-04T02:00:00',
 'Modified': '2014-02-04T02:00:00',
 'OutputStatus': 'Regulier',
 'Period': '2008 t/m 2011',
 'ReasonDelivery': 'Actualisering',
 'RecordCount': 32,
 'SearchPriority': '2',
 'ShortDescription': '\nDeze tabel bevat informatie over banen en lonen bij bedrijven in Nederland, uitgesplitst naar het land van uiteindelijke zeggenschap van die bedrijven. Hierbij wordt onderscheid gemaakt tussen bedrijven onder Nederlandse zeggenschap en bedrijven onder buitenlandse zeggenschap. In de tabel zijn alleen de bedrijven met werknemers in loondienst meegenomen. De cijfers hebben betrekking op het totale aantal banen bij deze bedrijven en de samenstelling van die banen naar kenmerken van de werknemers (baanstatus, geslacht, leeftijd, herkomst en hoogte van het loon). Ook het gemiddelde fiscale jaarloon per baan is in de tabel te vinden. \n\nGegevens beschikbaar vanaf: 2008 \n\nStatus van de cijfers: \nDe cijfers in deze tabel zijn definitief.\n\nWijzigingen per 4 februari 2014\nDe cijfers van 2011 zijn toegevoegd.\n\nWanneer komen er nieuwe cijfers?\nDe cijfers over 2012 verschijnen in de eerste helft van 2015.\n',
 'ShortTitle': 'Zeggenschap bedrijven; banen, grootte',
 'Source': 'CBS.',
 'Summary': 'Banen en lonen van werknemers bij bedrijven in Nederland\nnaar land van uiteindelijke zeggenschap en bedrijfsgrootte',
 'SummaryAndLinks': 'Banen en lonen van werknemers bij bedrijven in Nederland<br />naar land van uiteindelijke zeggenschap en bedrijfsgrootte<br /><a href="http://opendata.cbs.nl/ODataApi/OData/82010NED">http://opendata.cbs.nl/ODataApi/OData/82010NED</a><br /><a href="http://opendata.cbs.nl/ODataFeed/OData/82010NED">http://opendata.cbs.nl/ODataFeed/OData/82010NED</a>',
 'Title': 'Zeggenschap bedrijven in Nederland; banen en lonen, bedrijfsgrootte',
 'Updated': '2014-02-04T02:00:00'}

In [3]:
info = cbsodata.get_info('80072ned') # Returns a dict with info
info['Modified']

'2024-03-08T02:00:00'

In [4]:
info['Title']

'Ziekteverzuimpercentage; bedrijfstakken (SBI 2008) en bedrijfsgrootte'

In [5]:
data = cbsodata.get_data('80072ned')

In [11]:
import pandas
data = pandas.DataFrame(cbsodata.get_data('80072ned'))

In [12]:
data.head()

,ID,BedrijfskenmerkenSBI2008,Perioden,Ziekteverzuimpercentage_1
0,0,A-U Alle economische activiteiten,1996 1e kwartaal,5.5
1,1,A-U Alle economische activiteiten,1996 2e kwartaal,4.6
2,2,A-U Alle economische activiteiten,1996 3e kwartaal,4.0
3,3,A-U Alle economische activiteiten,1996 4e kwartaal,4.7
4,4,A-U Alle economische activiteiten,1996,4.7

In [22]:
tables = pandas.DataFrame(cbsodata.get_table_list())
tables.head()

,Updated,ID,Identifier,Title,ShortTitle,ShortDescription,Summary,Modified,MetaDataModified,ReasonDelivery,...,Period,SummaryAndLinks,ApiUrl,FeedUrl,DefaultPresentation,DefaultSelection,GraphTypes,RecordCount,ColumnCount,SearchPriority
0,2021-11-01T02:00:00,0,84669NED,Banen van werknemers; internationaliseringsken...,Banen; internationalisering bedrijven,\nDeze tabel bevat informatie over werknemersb...,"werknemersbanen, voltijdequivalenten, arbeidsv...",2020-12-14T02:00:00,2021-11-01T02:00:00,Stopgezet,...,2010 t/m 2018,"werknemersbanen, voltijdequivalenten, arbeidsv...",https://opendata.cbs.nl/ODataApi/OData/84669NED,https://opendata.cbs.nl/ODataFeed/OData/84669NED,ts=1606984891185&graphtype=Table&r=Internation...,$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Bar,Line",304128,10,1
1,2023-10-06T02:00:00,1,83583NED,Banen van werknemers; bedrijfsgrootte en econo...,Banen van werknemers; bedrijfsgrootte,\nDeze tabel geeft informatie over het gemidde...,"Banen van werknemers, bedrijfsgrootte, economi...",2023-10-06T02:00:00,2023-10-06T02:00:00,Actualisering,...,2010-2022,"Banen van werknemers, bedrijfsgrootte, economi...",https://opendata.cbs.nl/ODataApi/OData/83583NED,https://opendata.cbs.nl/ODataFeed/OData/83583NED,ts=1695202142906&graphtype=Table&r=Bedrijfstak...,$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Bar,Line",9672,4,2
2,2023-10-06T02:00:00,2,83582NED,Banen van werknemers in december; economische ...,"Banen van werknemers; SBI2008, regio",\nDeze tabel geeft informatie over het gemidde...,"Banen van werknemers, bedrijfsgrootte, economi...",2023-10-06T02:00:00,2023-10-06T02:00:00,Herontwerp,...,2010-2022,"Banen van werknemers, bedrijfsgrootte, economi...",https://opendata.cbs.nl/ODataApi/OData/83582NED,https://opendata.cbs.nl/ODataFeed/OData/83582NED,ts=1695206028076&graphtype=Table&r=Bedrijfstak...,$filter=((BedrijfstakkenBranchesSBI2008 eq 'T0...,"Table,Map",205296,4,3
3,2023-12-21T02:00:00,3,84826NED,Ontslagen werknemers door faillissement; gesla...,Ontslagen werknemers door faillissement,\nDeze tabel bevat cijfers over het aantal wer...,"ontslagen werknemers\ngeslacht, leeftijd, bedr...",2023-12-21T02:00:00,2023-12-21T02:00:00,Actualisering,...,2015-2022,"ontslagen werknemers<br />geslacht, leeftijd, ...",https://opendata.cbs.nl/ODataApi/OData/84826NED,https://opendata.cbs.nl/ODataFeed/OData/84826NED,ts=1671008486405&graphtype=Table&r=Bedrijfstak...,$filter=((Geslacht eq 'T001038')) and ((Leefti...,"Table,Bar,Line",2976,5,2
4,2024-02-09T02:00:00,4,85483NED,"Werknemersbanen en reisafstand; geslacht, leef...",Woon-werkafstand werknemers; leeftijd,\nDeze tabel brengt het aantal banen van werkn...,"Banen van werknemers naar geslacht, leeftijd, ...",2024-02-09T02:00:00,2024-02-09T02:00:00,Actualisering,...,2021-2022,"Banen van werknemers naar geslacht, leeftijd, ...",https://opendata.cbs.nl/ODataApi/OData/85483NED,https://opendata.cbs.nl/ODataFeed/OData/85483NED,"ts=1706769009588&graphtype=Table&r=WoonregioS,...",$filter=((Geslacht eq 'T001038') or (Geslacht ...,"Table,Bar,Map",161448,7,2